/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
    font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	background:#ffffff;
	margin: 0;
}
p,ul li,ol li{
	margin:0;
	font-size:14px;
	    letter-spacing: 1px;
}
h1,h2,h3,h4,h5,h6{
font-family: 'Raleway', sans-serif;
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
input[type="submit"],input[type="reset"],a,.agileinfo_services_grid1_pos,.agileinfo_services_grid1 h4,.simplefilter li{
	-webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition:0.5s ease-in;
}
/*-- banner --*/
.w3_agile_banner_top{
	    background: #000;
}
.agile_phone_mail{
	text-align:right;
}
.agile_phone_mail ul li{
      display: inline-block;
    padding: 6px 20px;
    border-left: 1px solid #353b3e;
    color: #fff;
    letter-spacing: 1px;
}
.agile_phone_mail ul li a {
    text-decoration: none;
    color: #efeaea;
}
.agile_phone_mail ul li a:hover{
	color:#fff;
}
.agile_phone_mail ul li i{
	padding-right:1em;
}
.agileits_w3layouts_banner_nav{
	padding:1em;
	border-bottom:1px solid #fff;
}
.navbar-default {
    background: none;
    border: none;
}
.navbar {
    border-radius: 0;
	margin-bottom:0;
}
.navbar-default .navbar-brand,.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover{
    color: #eb5424;
}
.agile_short_dropdown {
    background: #33cc99;
    border: none;
    box-shadow: none;
    border-radius: 0;
    text-align: center;
	padding:0;
	min-width: 130px;
}
.agile_short_dropdown li a {
    color: #fff;
    font-weight: 600;
    padding: 10px 0;
}
.navbar-brand {
    padding: 0;
    font-size: .8em;
    line-height: 45px;
    height: 45px;
    letter-spacing: 2px;
}
.navbar-brand span {
    color: #fff;
    background: #33cc99;
    padding: 0 9px 2px 9px;
    letter-spacing: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}
.navbar-brand i{
	font-style: normal;
    font-size: 2em;
    display: inline-block;
	    color: #ef5734;
    vertical-align: top;
	    font-weight:800;
}
.w3_agileits_search {
       float: right;
    width: 35%;
    padding: 10px;
    background: rgb(0, 0, 0);
    border: 1px solid #1a1c1d;
}
.w3_agileits_search input[type="search"]{
	outline:none;
	color:#fff;
	background:none;
	border:none;
	letter-spacing:1px;
	padding:0;
	font-size:14px;
	width:88%;
}
.w3_agileits_search input[type="submit"]{
	outline: none;
    background: url(../images/search.png) no-repeat 6px 1px;
    border: none;
    padding: 0;
    width: 10%;
}
.w3_agileits_search input[type="search"]::-webkit-input-placeholder{
	color:#fff !important;
}
.navbar-collapse {
    padding: 0;
}
.navbar-nav > li > a {
    text-transform: uppercase;
    padding:5px 15px;
    font-weight: 700;
    font-size: 13px;
}
.navbar-right {
    width: 58%;
    margin-right: 0;
}
.navbar-default .navbar-nav > li > a {
    color: #212121;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #212121;
    background-color: transparent;
}
.navbar-default .navbar-nav > .menu__item--current.open > a,.navbar-default .navbar-nav > .menu__item--current.open > a:focus  {
    color:#eb5424;
}
.navbar {
    min-height: 45px;
}
.navbar-nav {
    margin: 0.2em 0 0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #33cc99;
}
.navbar-nav > li {
    margin: 0 2px;
}
.wthree_banner_info{
    width: 60%;
    margin: 0em auto 0;
    text-align: center;
    padding-top: 13em;
}
.wthree_banner_info h2{
	font-size: 3em;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
	line-height:1.5em;
	margin-bottom:2em;
}
.wthree_banner_info h2 span{
	display: block;
    font-size: .4em;
    line-height: 1.4em;
    width: 15%;
    margin: 0 auto;
    background: #eb5424;
}

ul.agile_forms {
    float: left;
}
/*-- //banner --*/
/*-- banner-top --*/
.w3layouts-banner-top{
    background: url(../images/banner.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
	min-height:700px;
}
.w3layouts-banner-top1{
	background: url(../images/banner1.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
	min-height:700px;
}
.w3layouts-banner-top2{
	background: url(../images/banner2.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;	
	min-height:700px;
}

.agileits-banner-info h3 {
    color: #fff;
    font-size: 5.5em;
    margin: 0.3em 0 0.2em 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight:800;
	text-shadow: 1px 1px 2px rgb(12, 12, 12);
	-webkit-text-shadow: 1px 1px 2px rgb(12, 12, 12);
	-o-text-shadow: 1px 1px 2px rgb(12, 12, 12);
	-moz-text-shadow: 1px 1px 2px rgb(12, 12, 12);
	
}
.agileits-banner-info h3 span{
	    background: #2529d8;
    padding: 0 15px;
}
.agileits-banner-info {
    text-align:center;
    padding: 18em 0 0em;
}

.agileits-banner-info p {
    color: #e2dfdf;
    font-size: 1.1em;
    line-height: 1.9em;
    letter-spacing: 9px;
    font-weight: 600;
     text-align:center;
}
.agileits_w3layouts_more{
	position:relative;
}
.agileits_w3layouts_more a{
	    font-size: 17px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: relative;
}

.agileits-banner-info span {
	background:#ef5734;
    padding: 0.5em 2em;
    color: #fff;
    font-size: 1.1em;
    padding: 5px 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/*-- //banner-top --*/ 
/*--about--*/
.about-left_w3ls_img {
    background: url(../images/ab.jpg)no-repeat center;
    min-height: 642px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
	background-position:fixed;
}
.about-top_agile_its h2 {
	font-size:3em;
	font-weight:600;
	color: #000;
	text-transform: uppercase;
}
.about-top_agile_its {
     padding: 7em 0em 0em 3em;
}
.about-top_agile_its h5 {
    font-size: 11px;
    font-weight: 400;
    color: #33cc99;
    text-transform: uppercase;
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid #cec8c8;
    margin: 0px 0px 15px 0px;
    letter-spacing: 4px;
}
.about-top_agile_its span {
     font-weight: 600;
    font-style: italic;
    color: #ef5734;
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 2em;
}
.about-top_agile_its p {
  font-size:1em;
  font-weight: 400;
  color: #838383;
  line-height: 2em;
  letter-spacing:1px;
  margin-bottom:1em;
}
p.w3l_sub_para_agile {
    color: #33cc99;
    letter-spacing: 5px;
    font-size: 0.9em;
    text-align: center;
    font-weight: 400;
}
/*--about end here--*/
/*-- banner-bottom --*/
.banner-bottom,.services,.service-bottom,.contact,#blog{
	padding:5em 0;
}
.banner-bottom h3{
       text-align: center;
        color: #262c38;
    font-size: 2em;
    text-transform: capitalize;
    width: 82%;
    font-weight: 700;
    margin: 0 auto;
    line-height: 1.5em;
    letter-spacing: 1px;
}
.banner-bottom h3 span{
	color:#33cc99;
}
.banner-bottom h3 span.fixed_w3{
	color:#eb5424;
}
.agileits_banner_bottom_grids,.w3layouts_work_grids,.wthree_testimonial_grids,.wthree_services_grids,.w3layouts_mail_grid{
	margin:3em 0 0;
}
.w3ls_banner_bottom_grid{
	position:relative;
}
.w3ls_banner_bottom_grid_pos{
	position:absolute;
	top:0%;
	left:0%;
	width:100%;
	text-align:center;
}
/*-- image-effect --*/
.hovereffect {
    overflow: hidden;
    position: relative;
    text-align: center;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
}

.hovereffect:hover .overlay {
  background-color:rgba(23, 24, 24, 0.49);
}

.hovereffect img {
  display: block;
  position: relative;
}

.hovereffect h4 {
	text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 1.2em;
    padding: 10px 0;
    width: 80%;
    margin: 0 auto;
     background: rgba(34, 206, 148, 0.51);
    -webkit-transform:translateY(60px);
    -ms-transform:translateY(60px);
    transform:translateY(60px);
    -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
    transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
	letter-spacing:1px;
}

.hovereffect:hover h4 {
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
  -moz-transform: translateY(20px);
  -o-transform: translateY(20px);
}

.hovereffect p{
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
    transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
    font-weight: normal;
    margin: 0;
    padding: 3em 2em 0em;
    letter-spacing: 2px;
}

.hovereffect:hover p{
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.w3l_header {
    font-size:2.1em;
        color: #262c38;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    font-weight: 800;
    text-align: center;
}
.w3l_header:after {
    border-top: 5px solid #eb5424;
    display: block;
    width: 81px;
    content: "";
    margin: 8px auto 0;
}
.w3l_header span {
    color: #00ba66;
}

/*-- //banner-bottom --*/
/*-- team --*/
.team-grids{
	position:relative;
	overflow:hidden;
} 
.team-grids img {
    width: 100%;
}
.team-grids h4 {
    font-size: 1.4em;
    color: #fff;
    font-weight: 800;
    letter-spacing: 1px;
}
.team-grids.img-agileinfo-text p {
    color: #fff;
    margin:.5em 0 .8em;
}
.img-agileinfo-text {
    position: absolute;
    top: -50%;
    padding: 1.5em 2em 0;
    text-align: center;
    width: 90%;
    -webkit-transition: .5s all;
    transition: .5s all;
    -moz-transition: .5s all;
}
.img-caption::before {
    content: '';
    position: absolute;
    z-index: 0;
    top: inherit;
    width: 0;
    background: rgba(235, 84, 36, 0.8);
    -webkit-transition: .5s all;
    transition: .5s all;
    -moz-transition: .5s all;
}
.team-grids:hover div.img-agileinfo-text {
    top: 52%;
} 
.team-grids:hover div.img-caption::before {
    bottom: 0;
    width: 90%;
    height: 50%;
}
.w3social-icons ul li {
    display: inline-block;
	margin: 0 .5em;
}
.w3social-icons ul li a{
    color:#fff;
} 
.w3social-icons ul li a:hover{
      color: #00ba66;
}
.team-w3ls-row {
    margin-top: 4em;
}
.img-agileinfo-text p {
    color: #fff;
    margin: 1em 0;
    letter-spacing: 1px;
}
.team-grids img {
    width: 100%;
}
/*-- //team --*/
/*-- services --*/
.services{
	    background: #192138;
}
.specialty-grids-top,.agileits-team-grids,.events-info,.newsletter-grids,.w3layouts-contact-grids,.contact-form{
	margin: 4em 0 0 0;
}
.service-box {
	background: none;
	border: none;
	box-shadow: none;
	border-radius: 0;
	padding: 0;
	overflow: visible;
	text-align: center;
}
.service-box .icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
       background: #eb5424;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.icon i.fa{
	color:#fff;
	font-size:1.5em;
}
.service-box .icon img {
  position: relative;
  z-index: 100;
  transition: all 0.3s ease 0s;
}
.service-box span {
    color: rgba(255, 255, 255, 0.55);
    line-height: 77px;
    font-size: 1.8em;
    z-index: 9999;
}
.service-box span:before{
	color: rgba(255, 255, 255, 0.55);
    line-height: 77px;
    font-size: 1.8em;
    z-index: 9999;
}
.service-box .icon:before {
    content: '';
    width: 102%;
    height: 102%;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
       background: rgba(0, 186, 102, 0.65);
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 10;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    transition: all 0.3s ease 0s;
}
.agile_inner_w3ls-grids.two {
    margin-top: 4em;
}
.service-box:hover .icon img {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
.service-box:hover .icon:before {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.service-box h5 {
       font-size: 1em;
    color: #fff;
    margin: 1.2em 0 0.8em 0;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.service-box p {
    color: #747884;
    font-size: .9em;
    line-height: 1.9em;
    margin: 0;
}
.icon i.fa{
    position: absolute;
    display: block;
    color: #fff;
    font-size: 3em;
    font-style: normal;
    text-align: center;
    line-height: 1;
    padding:.6em 0 0 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    z-index: 999;
    top: -22px;
    left: 53px;

}
.specialty-button{
	margin-top:3em;
}
h3.w3l_header.w3_agileits_header.two {
    color: #fff;
}
/*-- //services --*/
/*-- stats --*/
.w3layouts_stats_left{
       padding: 5em 0 4em 0;
	text-align:center;
}
.w3layouts_stats_left p{
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 2px;
    color: #fff;
    margin: 0.5em 0;
}
.w3layouts_stats_left h3 {
       font-size: 1em;
       color: #eb5424;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    font-weight: 600;

}
.w3layouts_stats_left i {
    font-size: 2.5em;
    color: #fff;
}
.w3l_stats_bottom_grid_left img{
	margin:0 auto;
}
.stats{
	 background: url(../images/banner.jpg) no-repeat 0px -212px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    min-height: 300px;
    text-align: center;
}
/*-- //stats --*/
/*-- blog --*/
.agile_inner_w3ls-grids {
    margin-top: 3em;
}
.w3-agile-post-img a {
    background: url(../images/1.jpg) no-repeat 0px 0px;
    background-size: cover;
    min-height:350px;
    display: block;
    text-decoration: none;
}
.w3-agile-post-img1 a {
    background: url(../images/2.jpg) no-repeat 0px 0px;
    background-size: cover;
}
.w3-agile-post-img2 a {
    background: url(../images/4.jpg) no-repeat 0px 0px;
    background-size: cover;
}
.w3-agile-post-img1 a:focus{
	outline:none;
}
.w3-agile-post-img a ul {
    padding: 7em 2em 0 2em;
    text-align: center;
    vertical-align: bottom;
}
.w3-agile-post-img a ul li {
    display: block;
    color: #FFFFFF;
    font-size: 0.8em;
    text-decoration: none;
    padding: .5em 0em;
    border-radius: 20px;
    width:18%;
}
.w3-agile-post-img a ul li:nth-child(1){
	background: #03A9F4;
}
.w3-agile-post-img a ul li:nth-child(2) {
    margin: 1em 0em;
    background: #F44336;
}
.w3-agile-post-img a ul li:nth-child(3){
       background: #33cc99;
}
.w3-agile-post-info h4 {
    margin: 1em 0 0.5em 0;
}
.w3-agile-post-info h4 a {
   color: #262c38;
    font-size: .9em;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
    margin-top: 1em;
}
.w3-agile-post-info h4 a:hover{
	    color: #eb5424;
}
.w3-agile-post-info h4 a:focus{
	outline:none;
}
.w3-agile-post-info p {
    color: #545454;
    font-size: 1em;
    margin: 1em 0;
    line-height: 1.9em;
    letter-spacing: 1px;
}
.w3-agile-post-info ul{
	padding:0;
	margin:0;
}
.w3-agile-post-info ul li{
 display: inline-block;
    color: #000000;
    font-size: 0.9em;
    font-style: italic;
    letter-spacing: 1px;
}
.w3-agile-post-info ul li:nth-child(2) {
    margin: 0 0 0 25em;
}
.w3-agile-post-info ul li a{
	color:#999999;
	text-decoration:none;
}
.w3-agile-post-info ul li a:hover{
	color:#4CAF50;
}
/*-- //blog --*/
/*-- //banner-bottom --*/
/*-- testimonials --*/

.w3layouts_event_left{
	padding:0;
}
.w3layouts_event_right{
	padding:5em;
}
.w3layouts_event_right h3{
	font-size: 1.8em;
      color: #262c38;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 800;
}
.w3layouts_event_right_para{
	position: relative;
    z-index: 1;
    margin:3em 0;
}
.w3layouts_event_right_para p{
	font-size: 1.1em;
      color: #545454;
    width: 80%;
    line-height: 2em;
}
.w3layouts_event_right_para_pos{
	position:absolute;
	top:0%;
	left:0%;
	z-index: -1;
}
.w3layouts_event_right_para_pos i{
	font-size: 3em;
    color: #33cc99;
}
.w3_agile_event_right_grid_left img{
	border:5px solid #ff464f;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
	box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    -webkit-box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    -moz-box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    -o-box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    border: 1px solid #ddd;
	margin:0 auto;
}
.w3_agile_event_right_grid_right h4{
    font-size: 1.2em;
    color: #494c52;
    letter-spacing: 2px;
    margin: 2em 0 .5em;
    color: #262c38;
    font-weight: 800;
}
.w3_agile_event_right_grid_right p{
    color: #eb5424;
    font-size: 13px;
    letter-spacing: 2px;
}
/*-- //testimonials --*/
/*-- footer --*/
.footer{
    background: url(../images/banner2.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 400px;
		background-attachment:fixed;
}
.f-bg-w3l {
    background: rgba(0, 0, 0, 0.58);
    padding: 7em 0 7em 0;
}
.w3layouts_footer_grid h2{
    font-size: 1.4em;
    color: #fff;
    position: relative;
    margin-bottom: 1em;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.w3layouts_footer_grid h2 span{
	color:#33cc99;
}
.social_agileinfo2 li{
    display:inline-block;
}
.social_agileinfo2 li a{
    width:40px;
    height:40px;
    display:block;
    border:1px solid #fff;
    text-align:center;
    color:#000000;
}
.social_agileinfo li{
	display:inline-block;
}
.social_agileinfo li a{
	width:40px;
	height:40px;
	display:block;
	border:1px solid #fff;
	text-align:center;
	color:#fff;
}
.social_agileinfo li a i{
	font-size:1em;
	line-height:2.8em;
}
.w3_facebook:hover{
	border:1px solid #3b5998;
	background:#3b5998;
}
.w3_twitter:hover{
	border:1px solid #1da1f2;
	background:#1da1f2;
}
.w3_instagram:hover{
	border:1px solid #833ab4;
	background:#833ab4;
}
.w3_google:hover{
	border:1px solid #dd4b39;
	background:#dd4b39;
}
.w3l_footer_nav{
    margin: 3em 0 3em;
}
.w3l_footer_nav li{
	display:inline-block;
	margin-right:4em;
	text-transform:uppercase;
}
.w3l_footer_nav li a{
	color:#fff;
	font-weight:bold;
	text-decoration:none;
}
.w3l_footer_nav li a:hover,.w3l_footer_nav li a.active{
	color:#33cc99;
}
.w3layouts_footer_grid p{
    color: #fff;
    line-height: 1.8em;
    letter-spacing: 2px;
}
.w3layouts_footer_grid p a{
	color:#fff;
	text-decoration:underline;
}
.w3layouts_footer_grid p a:hover{
	color:#33cc99;
}
.w3layouts_footer_grid form{
    border: 1px solid #fff;
    width: 70%;
}
.w3layouts_footer_grid input[type="email"]{
    outline: none;
    padding: 12px 15px;
    color: #fff;
    font-size: 14px;
    width: 88%;
    border: none;
    background: rgba(0, 0, 0, 0.22);
		letter-spacing:1px;
}
.w3layouts_footer_grid input[type="submit"] {
    outline: none;
    padding: 11px 0px;
    width: 12%;
       background: #33cc99 url(../images/arrow.png) no-repeat 15px 11px;
    border: none;
    float: right;
}
/*-- //footer --*/
/*-- menu --*/
.menu__list {
	position: relative;
	list-style: none;
}
.menu__link {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* Iris */
.menu--iris .menu__item {
    margin: 0 0.9em 0 0;
}

.menu--iris .menu__link {
	position: relative;
	text-align: center;
	color: #b5b5b5;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.menu--iris .menu__link:hover,
.menu--iris .menu__link:focus {
	color: #eb5424;
}

.menu--iris .menu__item--current .menu__link {
	color: #eb5424;
}

.menu--iris .menu__link::before,
.menu--iris .menu__link::after {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	opacity: 0;
	border: 2px solid #eb5424;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.17, 0.67, 0.05, 1.29);
	transition-timing-function: cubic-bezier(0.17, 0.67, 0.05, 1.29);
}

.menu--iris .menu__link::before {
	top: 0;
	left: 0;
	border-width: 2px 0 0 2px;
	-webkit-transform: translate3d(10px, 10px, 0);
	transform: translate3d(10px, 10px, 0);
}

.menu--iris .menu__link::after {
	right: 0;
	bottom: 0;
	border-width: 0 2px 2px 0;
	-webkit-transform: translate3d(-10px, -10px, 0);
	transform: translate3d(-10px, -10px, 0);
}

.menu--iris .menu__item--current .menu__link::before,
.menu--iris .menu__item--current .menu__link::after,.menu__link:hover::before,.menu__link:hover::after{
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
/*-- //menu --*/
/*-- bootstrap-pop-up --*/
.close {
    opacity: 1;
}
.modal-header {
	    border-bottom: none!important;
}
.modal-body p {
    color: #383535;
    text-align: left;
        padding: 2em 1em 1em;
    margin: 0 !important;
    line-height: 2em;
}
.modal-body p i {
    display: block;
    margin: 2em 0 0;
    color: #33cc99;
}
.modal-content {
    border-radius: 0;
}
button.close {
    font-size: 1em;
    color:#014727;
	outline: none;
}
.modal-body h5 {
    font-weight: 700;
    margin: 0 0 1em 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    font-size: 1.4em;
    color: #262c38;
}
/*-- //bootstrap-pop-up --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url(../images/arrow-top.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- services --*/
.banner1 {
    background: url(../images/banner2.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
      min-height: 261px;
}
.w3_agileits_service_banner_info h2 {
    text-align: center;
    font-size: 2.3em;
    color: #fff;
    padding-top: 3em;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 800;
}
.services.two {
    background: #fff;
}
.wthree_services_grid_left h3{
    font-size: 1.4em;
    color: #212121;
    line-height: 1.5em;
    letter-spacing: 1px;
    font-weight: 700;
}
.wthree_services_grid_left h4 {
    font-size: 0.9em;
    letter-spacing: 8px;
    color: #a8abb1;
}
.wthree_services_grid_left h3 span{
	color:#eb5424;
}
.wthree_services_grid_left p{
	color: #545454;
	line-height:2em;
	margin:2em 0;
}
.w3_agileits_more a {
    border-color: #eb5424;
}
.w3_agileits_more a.link.link--kumya{
	color:#eb5424;
}
.w3_agileits_more a:hover {
    border-color: #212121;
}
.agileits_w3layouts_service_grid{
	text-align:center;
}
.agile_service_grd{
    width: 80px;
    height: 80px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    background: #212121;
}
.agileits_w3layouts_service_grid:nth-child(4),.agileits_w3layouts_service_grid:nth-child(5),.agileits_w3layouts_service_grid:nth-child(6){
	margin-top:2em;
}
.agile_service_grd i{
    font-size: 2em;
    color: #fff;
    line-height: 2.5em;
}
.agileits_w3layouts_service_grid h4{
    font-size: 1.2em;
    color: #33cc99;
    margin: 1em 0 .6em;
    padding: .3em 0;
    font-weight: 600;
    letter-spacing: 1px;
}
.agileits_w3layouts_service_grid p{
	    color: #545454;
	line-height:1.9em;
}
.agileits_w3layouts_service_grid:hover .agile_service_grd{
    -webkit-animation: fa-spin 3s infinite linear;
    animation: fa-spin 3s infinite linear;
	background:#33cc99;
	border-color:#33cc99;
}
.agileits_w3layouts_service_grid:hover .agile_service_grd i{
	color:#fff;
}
/*-- //services --*/

/*-- stats-bottom --*/
.agileinfo_services_grid1{
	padding:2em;
	background:#f5f5f5;
	position:relative;
	    border: 1px solid #e4e5e6;
}
.agileinfo_services_grid1_pos{
	position: absolute;
    width: 50px;
    height: 50px;
    background: #eb5424;
    border-radius: 40px;
    bottom: -11%;
    right: 13%;
    text-align: center;
}
.agileinfo_services_grid1_pos span{
	color: #fff;
    font-size: 1em;
    top: 15px;
}
.agileinfo_services_grid1 h4{
	font-size:1.1em;
	color:#212121;
	text-transform:capitalize;
	line-height:1.5em;
	position:relative;
	padding-bottom:.5em;
	letter-spacing: 2px;
}
.agileinfo_services_grid1 p{
	    color: #545454;
	line-height:2em;
	margin:1em 0 0;
}
.agileinfo_services_grids{
	margin:5em 0 4em;
}
.agileinfo_services_grid:hover .agileinfo_services_grid1 h4:after,.agileinfo_services_grid:hover .agileinfo_services_grid1_pos{
	    background: #33cc99;
}
.agileinfo_services_grid:hover .agileinfo_services_grid1_pos span{
	color: #fff;
}
/*-- //stats-bottom --*/
/*-- gallery --*/
#gallery {
     padding:6em 0 0 0;
}
#portfolio p {
  line-height: 1.8em;
  margin: 25px 0 0 0;
  font-size:1.1
  color: #ffffff;
  font-weight: 300;
}
.gallery-section h3{
   margin: 0;
  color: #ffffff;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 18px;
}
.gallery-grid {
  padding: 0;
}
.gallery1 {
position:relative;
}
.gallery1 .textbox {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	-webkit-transform: scale(0);
	transform: scale(0);
    background-color: rgba(51, 204, 153, 0.92);
}
.gallery1:hover .textbox {
	-webkit-transform: scale(1);
	transform: scale(1);
}
.gallery-grid img{
		width:100%;
}

.textbox {
-webkit-transition: all 0.7s ease;
transition: all 0.7s ease;
text-align:center;
}
.textbox h4 {
    font-size: 2em;
    color: #FFF;
    margin-top: 2.5em;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}
.textbox p {
     font-size: 26px !important;
    color: #fff;
    background: rgba(0, 0, 0, 0.83);
    margin: 6px 0 0 0!important;
    padding: 3px 0;
}
.inner_w3l_agile_grids-gal {
    margin-top: 3em;
}
/*--//gallery--*/
/*-- icons --*/
ul.bs-glyphicons-list li:hover {
    background: #000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
}
ul.bs-glyphicons-list li:hover span {
    color: #fff;
}
.codes a {
    color: #999;
}
.row.fontawesome-icon-list {
    margin: 0;
}
.icon-box {
    padding: 8px 15px;
    background:rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
} 
.icon-box:hover {
    background: #000;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
.icon-box:hover i.fa {
	color:#fff !important;
}
.icon-box:hover a.agile-icon {
	color:#fff !important;
}
.codes .bs-glyphicons li {
    float: left;
    width: 12.5%;
    height: 115px;
    padding: 10px; 
    line-height: 1.4;
    text-align: center;  
    font-size: 12px;
    list-style-type: none;	
}
.codes .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.codes .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.codes .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
h3.icon-subheading {
	font-size: 25px;
    color:#eb5424 !important;
    margin: 30px 0 15px;
}
h3.agileits-icons-title {
    text-align: center;
    font-size: 30px;
    color: #000;
}
.icons a {
    color: #999;
}
.icon-box i {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: #282a2b !important;
}
.bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background:rgba(149, 149, 149, 0.18);
    margin: 1%;
	cursor: pointer;
}
.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
	color: #282a2b;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
@media (max-width:1080px){
	.icon-box {
		width:33.33%;
	}
}
@media (max-width:991px){
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 22px;
	}
	.icon-box {
		width: 50%;
	}
}
@media (max-width:768px){
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 25px;
	}
	.row {
		margin-right: 0;
		margin-left: 0;
	}
	.icon-box {
		margin: 0;
	}
	.agileits_w3layouts_service_grid h4 {
		font-size: 0.9em;
		letter-spacing: 4px;
	}
}
@media (max-width:767px){
	.team-grids:hover div.img-caption::before, .img-agileinfo-text {
		width: 93.5%;
	}
}
@media (max-width:667px){
	.team-grids:hover div.img-caption::before, .img-agileinfo-text {
		width: 100%!important;
	}
}
@media (max-width: 640px){
	.icon-box {
		float: left;
		width: 50%;
	}
	h3.icon-subheading {
		font-size: 22px;
	}
	.grid_3.grid_4.w3_agileits_icons_page {
		margin-top: 25px;
	}
}
@media (max-width: 480px){
	.bs-glyphicons li {
		width: 31%;
	}
}
@media (max-width: 414px){
	h3.agileits-icons-title {
		font-size: 23px;
	}
	h3.icon-subheading {
		font-size: 18px;
	}
	.bs-glyphicons li {
		width: 31.33%;
	}
}
@media (max-width: 384px){
	.icon-box {
		float: none;
		width: 100%;
	}
}
@media (max-width: 375px){
	.w3_agileits_icons_page {
		margin: 25px 0 0 !important;
	}
}
/*-- //icons --*/
/*--Typography--*/
.well {
    font-weight: 300;
    font-size: 14px;
}
.list-group-item {
    font-weight: 300;
    font-size: 14px;
}
li.list-group-item1 {
    font-size: 14px;
    font-weight: 300;
}
.typo p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}
.show-grid [class^=col-] {
    background: #fff;
	text-align: center;
	margin-bottom: 10px;
	line-height: 2em;
	border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
	background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
	color: #999;
	font-size: 0.85em;
	margin-bottom: 1em;
	font-weight: 300;
}
.grid_4{
	background:none;
	margin-top:50px;
}
.label {
	font-weight: 300 !important;
	border-radius:4px;
}  
.grid_5{
	background:none;
	padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
	margin-bottom: 1em;
    color:#eb5424;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	z-index: 0;
}
.badge-primary {
	background-color: #03a9f4;
}
.badge-success {
	background-color: #8bc34a;
}
.badge-warning {
	background-color: #ffc107;
}
.badge-danger {
	background-color: #e51c23;
}
.grid_3 p{
	line-height: 2em;
	color: #888;
	font-size: 0.9em;
	margin-bottom: 1em;
	font-weight: 300;
}
.bs-docs-example {
	margin: 1em 0;
}
section#tables  p {
	margin-top: 1em;
}
.tab-container .tab-content {
	border-radius: 0 2px 2px 2px;
	border: 1px solid #e0e0e0;
	padding: 16px;
	background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	font-size: 0.9em;
	color: #999;
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.label {
	font-weight: 300 !important;
}
.label {
	padding: 4px 6px;
	border: none;
	text-shadow: none;
}
.alert {
	font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:2em;
	margin-top:0.5em;
	margin-bottom: 0.5em;
}
li.list-group-item1 {
	line-height: 2.5em;
}
.input-group {
	margin-bottom: 20px;
}
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
	margin-bottom: 48px;
}
ol {
	margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:768px){
	.grid_5 {
		padding: 0 0 1em;
	}
	.grid_3 {
		margin-bottom: 0em;
	}
	.grid_3.grid_5.w3l {
		margin-top: 1.5em;
	}
}
@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 25px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
	.label {
		font-size: 60%;
	}
	.in-gp-tl {
		padding: 0 1em;
	}
	.in-gp-tb {
		padding-right: 1em;
	}
	.list-group {
		margin-bottom: 20px;
	}
}
@media (max-width:480px){
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		font-size: 1.2em;
	}
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.alert,p {
		font-size: 14px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
	.grid_3.grid_4.w3layouts {
		margin-top: 0;
	}
}
@media (max-width: 320px){
	.grid_4 {
		margin-top: 18px;
	}
	h3.title {
		font-size: 1.6em;
	}
	.alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 14px;
		padding: 5px 11px;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.nav > li > a {
		font-size: 14px;
	}
	table.table.table-striped,.table-bordered,.bs-docs-example {
		display: none;
	}
}
/*-- //typography --*/
/*-- mail --*/
.w3layouts_mail_grid_left1{
	float: left;
    width: 70px;
    height: 70px;
    text-align: center;
	border-radius:50px;
}
.w3layouts_mail_grid_left1 span{
	font-size: 1.3em;
    color: #fff;
    line-height: 3.2em;
}
.w3layouts_mail_grid_left2{
	float:right;
	width:70%;
	    text-align: left;
}
.w3layouts_mail_grid_left2 h3{
	font-size: 1.1em;
    color: #eb5424;
    margin: 1em 0 0.3em;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.w3layouts_mail_grid_left2 a{
	text-decoration:none;
	color:#999;
	font-size:14px;
}
.w3layouts_mail_grid_left2 a:hover{
	color:#212121;
}
.w3layouts_mail_grid_left2 p{
	    color: #545454;
}
/* Radial Out */
.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
  background: #404040;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #33cc99;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
  color: white;
}
.hvr-radial-out:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before,.w3layouts_mail_grid_left:hover .hvr-radial-out:before{
  -webkit-transform: scale(2);
  transform: scale(2);
}
.w3_agile_map iframe{
	width:100%;
	min-height:350px;
}
.agileits_mail_grid_left h4{
    font-size: 1.4em;
    color: #262c38;
    letter-spacing: 1px;
    font-weight: 800;
	margin-bottom: 1.5em;
}
.agileits_mail_grid_lft_grid1.w3_agileits_mail_grid_lft_grid1 h4{
   font-size:1.4em;
    color: #262c38;
    letter-spacing: 1px;
    font-weight: 800;
	margin-bottom: 1.5em;
}
.agileits_mail_grid_lft_grid ul li{
	list-style-type:none;
	color:#212121;
	margin-bottom:1.5em;
}
.agileits_mail_grid_lft_grid ul li i{
	padding-right:1em;
	color:#33cc99;
}
.agileits_mail_grid_lft_grid1 h4 span{
	color:#eb5424;
}
.agileits_mail_grid_lft_grid1 ul li{
	list-style-type: none;
    color: #999;
    line-height: 1.8em;
	margin-bottom:1.5em;
	position:relative;
	padding-left: 2em;
}
.agileits_mail_grid_lft_grid1 ul li:last-child{
	margin-bottom:0;
}
.agileits_mail_grid_lft_grid1 ul li:before{
	content:"\f099";
	position:absolute;
	top:0%;
	left:0%;
	font-family: FontAwesome;
	color:#1da1f2;
}
.agileits_mail_grid_lft_grid1 ul li a{
	color:#212121;
	text-decoration:none;
	font-weight: 600;
}
.agileits_mail_grid_lft_grid1 ul li a:hover{
	color:#999;
}
.agileits_mail_grid_right1{
	padding:3em;
	background:#f5f5f5;
}
.agileits_mail_grid_right1 span i{
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    font-style: normal;
    float: left;
    width: 15%;
    background: #eb5424;
    padding: 10px 10px;
    text-align: center;
}
.agileits_mail_grid_right1 input[type="text"],.agileits_mail_grid_right1 input[type="email"],.agileits_mail_grid_right1 textarea{
	outline: none;
    width: 85%;
    background: #fff;
    color: #212121;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #E7E7E7;
}
.agileits_mail_grid_right1 span {
    padding: .5em 0;
    display: block;
}
.agileits_mail_grid_right1 textarea{
	min-height:200px;
}
.agileits_mail_grid_right1 input[type="submit"] {
    outline: none;
    width: 17%;
    background: #33cc99;
    color: #fff;
    padding: 15px 0;
    font-size: 1em;
    border: none;
    margin: .5em 0 0 9.8em;
}
.agileits_mail_grid_right1 input[type="submit"]:hover{
    background:#eb5424;
}
.agileits_mail_grid_right.agileits_w3layouts_mail_grid_right {
    margin-bottom: 3em;
}
/*-- //mail --*/
/*-- registration --*/
.signin-form {
	    padding: 0em 1em 1em 1em;
    text-align: center;
}
.signin-form h3,h3.agileinfo_sign  {
       font-size: 1.5em;
    color: #212121;
    font-weight: 700;
    margin: 1em 0 0.8em 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}
h3.agileinfo_sign  {
	text-align:center;
}
.signin-form h3 span {
    color: #67e1ff;
}
.signin-form img {
    border-radius: 50%;
}
.login-form {
    margin: 1em 0 2.5em;
}
.signin-form input[type="email"],.signin-form input[type="text"], .signin-form input[type="password"] {
      width: 100%;
    padding: 1em 1em 1em 1em;
    font-size: 0.8em;
       margin: 0.5em 0;
    outline: none;
    color: #212121;
    border: none;
    border: 1px solid #ccc;
    letter-spacing: 1px;
    text-align: center;
}
.signin-form input[type="email"] {
    background: none;
    display: block;
}
.signin-form input[type="text"] {
    background: none;
    display: block;
}
.signin-form input[type="password"] {
     background: none;
    display: block;
}
.signin-form ::-webkit-input-placeholder{
	color:#212121 !important;
}
.signin-form input[type="submit"] {
    outline: none;
    padding: 0.8em 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
    margin-top: 1em;
    border: none;
    color: #FFFFFF;
	text-transform:uppercase;
    cursor: pointer;
      background: #33cc99;
    box-shadow: 0px 2px 1px rgba(28, 28, 29, 0.42);
	
}
.signin-form input[type="submit"]:hover {
    color: #fff;
       background: #000;
    transition: .5s all;
	-webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
.signin-form p a {
    font-size: 0.875em;
    color: #212121;
    letter-spacing: 1px;
}
.login-social-grids{
    margin: 1em 0;
}
.login-social-grids ul {
    padding: 0;
    margin: 0;
}
.login-social-grids ul li {
    display: inline-block;
    margin: 0 .5em 0 0;
}
.login-social-grids ul li a {
    color: #FFFFFF;
    text-align: center;
}
.login-social-grids ul li a i.fa.fa-facebook, .login-social-grids ul li a i.fa.fa-twitter, .login-social-grids ul li a i.fa.fa-rss{
    height: 30px;
    width: 30px;
    border: solid 2px #212121;
    line-height: 29px;
    background: none;
    color: #212121;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.login-social-grids ul li a i.fa.fa-facebook:hover {
	border: solid 2px #3b5998;
	background:#3b5998;
    color: #FFFFFF;
}
.login-social-grids ul li a i.fa.fa-twitter:hover{
	border: solid 2px #55acee;
	background:#55acee;
	color: #FFFFFF;
}
.login-social-grids ul li a i.fa.fa-rss:hover{
	border: solid 2px #f26522;
	background:#f26522;
	color: #FFFFFF;
}
.modal-header .close{
	float:right!important;
}
.form-control:focus {
    border: 1px solid #ccc;
    outline: 0;
	 box-shadow:none!important;
}
/*-- //registration --*/
/*-- start-responsive-design --*/
@media (max-width:1440px){
	.navbar-right {
		width: 64%;
	}
	.wthree_banner_info {
		width: 67%;
	}
	.w3layouts-banner-top,.w3layouts-banner-top1,.w3layouts-banner-top2 {
		min-height: 630px;
	}
	.agileits-banner-info {
		padding: 15em 0 0em;
	}
	.w3layouts_event_right {
		padding: 3em 5em 2em 5em;
	}
	.banner-bottom, .services, .service-bottom, .contact,#blog {
		padding: 4em 0;
	}
}
@media (max-width: 1366px){
	.navbar-right {
		width: 70%;
	}
	.banner {
		min-height: 645px;
	}
	.wthree_banner_info {
		margin: 9em auto 0;
	}
	.wthree_banner_info h2 {
		font-size: 2.6em;
	}
	.w3layouts_work_grid_right {
		padding: 5em 13em 5em 5em;
	}
	.team {
		min-height: 450px;
	}
	.w3layouts_event_right_para p {
		font-size: 1.1em;
		color: #545454;
		width: 100%;
		line-height: 2em;
	}
	.w3l_header {
       font-size:2em;
	}
}
@media (max-width: 1280px){
	.navbar-right {
		width: 73%;
	}
	.banner-bottom h3 {
		font-size: 2.2em;
	}
	.w3layouts_work_grid_right h5 {
		font-size: 1.85em;
	}
	.w3layouts_work_grid_left {
		width: 45%;
	}
	.w3layouts_work_grid_left_pos {
		top: 19%;
		right: -15%;
	}
	.w3layouts-banner-top, .w3layouts-banner-top1, .w3layouts-banner-top2 {
		min-height: 530px;
	}
	.agileits-banner-info {
		padding: 11em 0 0em;
	}
	.w3layouts_event_right {
		padding: 2em 4em 2em 4em;
	}
	.agileits-banner-info h3 {
      font-size: 4.5em;
	}
	.agileinfo_services_grids {
		margin: 2em 0 4em;
	}
		.team-grids h4 {
    font-size: 1.2em;
	}
}
@media (max-width: 1080px){
	.navbar-right {
		width: 80%;
	}
	.w3_agileits_search {
		width:34%;
	}
	.menu--iris .menu__item {
		margin: 0 1em 0 0;
	}
	.wthree_banner_info {
		width: 80%;
	}
	.banner {
		min-height: 565px;
		background-position:-75px 0px;
	}
	.wthree_banner_info h2 {
		font-size: 2.4em;
		margin-bottom: 1.5em;
	}
	.banner-bottom h3 {
		font-size: 1.7em;
	}
	.hovereffect h4 {
		font-size: 1.2em;
		padding: 7px 0;
		width: 75%;
		-webkit-transform: translateY(50px);
		-ms-transform: translateY(50px);
		transform: translateY(50px);
	}
	.hovereffect p {
		padding: 2.5em 1em 0em;
		letter-spacing: 1px;
	}
	.w3layouts_work_grid_right {
		padding:3em 7em 4em 3em;
	}
	.w3l_header:after {
		left: 17%;
	}
	.w3_agile_team_grid {
		width: 50%;
		margin: 5em 0 0 6em;
	}
	.team {
		min-height: 410px;
	}
	.w3_agileits_header:after {
		left:30% !important;
	}
	.agileits_testimonials_right_grid:before {
		left: -4%;
	}
	.w3_testimonials_right_grid:before {
		right: -4% !important;
	}
	.wthree_testimonial_grid_right h3 {
		font-size: 1.8em;
	}
	.w3layouts_footer_grid h2:after {
		left: 45%;
	}
	.w3l_footer_nav li:last-child{
		margin-right:0;
	}
	.agileits_w3layouts_service_grid h4 {
		font-size: 0.9em;
		letter-spacing: 2px;
	}
	.w3_agileits_service_banner_info h2 {
		font-size: 2.5em;
	}
	.banner1 {
       min-height: 160px;
	}
	.agile_service_grd {
		width: 80px;
		height: 80px;
	}
	.agile_service_grd i {
		font-size: 1.7em;
		line-height: 2.8em;
	}
	.wthree_services_grid_left h3 {
		font-size: 1.3em;
	}
	.agileinfo_services_grid1 h4 {
		letter-spacing: 0px;
	}
	.w3_agileits_header1:after {
		left: 24% !important;
	}
	.w3_textbox h4 {
		font-size: 1.5em;
		margin: 1.5em 0 .5em;
	}
	.agileits_mail_grid_right1 {
		padding: 2em;
	}
	.agileits_mail_grid_right1 span i {
		font-size: 13px;
	}
	.navbar-brand i {
		font-size: 1.8em;
	}
	.navbar-brand span {
		padding: 0 9px 2px 9px;
		font-size: 0.9em;
	}
	.w3_agileits_search {
		width: 30%;
	}
	.service-box p {
		font-size: .85em;
		margin: 0;
	}
	.icon i.fa {
		top: -29px;
		left: 53px;
	    font-size: 2.5em;
	}
	.w3-agile-post-img a {
		min-height: 290px;
	}
	.w3-agile-post-info ul li:nth-child(2) {
		margin: 0 0 0 18em;
	}
	.w3-agile-post-img a ul li {
		font-size: 0.8em;
		padding: .5em 0em;
		width: 21%;
	}
	.w3layouts_event_right {
		width: 100%;
		padding: 3em 5em 3em 5em;
	}
	.w3layouts_event_left {
		padding: 0;
		float: none;
		margin: 0 auto;
	}
	.stats {
		min-height: 254px;
		text-align: center;
	}
	.w3layouts_stats_left {
		padding: 4em 0 4em 0;
	}
	.textbox h4 {
		font-size: 2em;
		margin-top: 1.9em;
	}
	.w3_agileits_service_banner_info h2 {
		font-size: 2em;
		padding-top: 2em;
	}
	.agileits-banner-info p {
       font-size: 1em;
	}
	.f-bg-w3l {
		padding: 5em 0 5em 0;
	}
	.f-bg-w3l {
		padding: 5em 0 5em 0;
	}
	.footer {
		min-height: 348px;
	}
	.w3layouts_mail_grid_left2 h3 {
		font-size: 1em;
		margin: 1em 0 0.3em;
		letter-spacing: 4px;
	}
	.agileits_mail_grid_right1 input[type="submit"] {
       width: 17%;
		margin: .5em 0 0 8.2em;
	}
	.agileits_mail_grid_left h4 {
		font-size: 1.2em;
		margin-bottom: 1.5em;
	}
	.agileits_mail_grid_left h4 {
		font-size: 1.2em;
		margin-bottom: 1.5em;
	}
	.agile_inner_w3ls-grids {
		margin-top: 2em;
	}
	.team-grids h4 {
    font-size: 1.2em;
	}
	.team-grids:hover div.img-caption::before,.img-agileinfo-text { 
    width: 87.5%; 
	}
	.team-grids:hover div.img-caption::before { 
		height: 57%;
	}
	.team-grids:hover div.img-agileinfo-text {
		top: 46%;
	}
	.team-w3ls-row {
		margin-top:3em;
	}
}
@media (max-width: 1024px){
	.w3_agileits_search {
		width: 30%;
	}
	.w3layouts_work_grid_right h5 {
		font-size: 1.8em;
	}
	.w3layouts_work_grid_right {
		padding: 2em 7em 0em 3em;
	}
	.w3_agileits_search input[type="submit"] {
		background-position:2px 1px;
	}
	.navbar-nav > li > a {
		padding: 5px 14px;
		font-size:12px;
	}
   .agileits-banner-info h3 {
		font-size: 4em;
	}
	.w3layouts_stats_left {
		padding: 3em 0 0em 0;
	}
	.stats {
		min-height: 235px;
		text-align: center;
	}
}
@media (max-width: 991px){
	.navbar-nav > li > a {
		padding: 3px 10px;
	}
	.menu--iris .menu__item:last-child{
		margin-right:0;
	}
	.w3_agileits_search {
		width: 35%;
	}
	.navbar-nav {
		margin: 0.5em 0 0;
	}
	.wthree_banner_info h2 {
		font-size: 2.2em;
	}
	.link--kumya {
		padding: 12px 25px;
	}
	.banner-bottom h3 {
		width: 100%;
	}
	.agileits_banner_bottom_grid {
		float: left;
		width: 50%;
	}
	.agileits_banner_bottom_grid:nth-child(2){
		margin-bottom:2em;
	}
	.hovereffect h4 {
		-webkit-transform: translateY(83px);
		-ms-transform: translateY(83px);
		transform: translateY(83px);
	}
	.hovereffect:hover h4 {
		-webkit-transform: translateY(55px);
		-ms-transform: translateY(55px);
		transform: translateY(55px);
		-moz-transform: translateY(55px);
		-o-transform: translateY(55px);
	}
	.hovereffect p {
		padding: 5.5em 1em 0em;
	}
	.w3l_header:after {
		left: 21%;
	}
	.w3layouts_work_grid_right {
		padding: 2em 5em 0em 3em;
	}
	.w3_agile_team_grid {
		width: 55%;
		margin: 5em 0 0 4em;
	}
	.w3layouts_footer_grid:first-child {
		float: left;
		width: 35%;
	}
	.w3layouts_footer_grid:nth-child(2) {
		float: right;
		width: 65%;
	}
	.w3layouts_footer_grid form {
		width: 100%;
	}
	.w3layouts_footer_grid h2:after {
		left: 56%;
		width: 40%;
	}
	.w3l_footer_nav li {
		margin-right: 1.7em;
	}
	.agileits_w3layouts_service_grid {
		float: left;
		width: 33.33%;
	}
	.wthree_services_grid_right {
		margin-top: 2em;
	}
	.agileits_w3layouts_service_grid h4 {
		font-size: 1.1em;
		letter-spacing: 7px;
	}
	.w3layouts_service_bottom_grid {
		float: left;
		width: 25%;
	}
	.agileits_w3layouts_stats_grid {
		width: 65px;
		height: 65px;
	}
	.agileits_w3layouts_stats_grid i {
		font-size: 1.5em;
		line-height: 2.5em;
	}
	.w3layouts_service_bottom_grid p {
		font-size: 1.7em;
		width: 80%;
	}
	.w3layouts_service_bottom_grid h3 {
		font-size: 1.2em;
		letter-spacing: 1px;
	}
	.agileinfo_services_grid {
		padding-top: 3em;
	}
	.agileinfo_services_grids {
		margin: 1em 0 0em;
	}
	.agileinfo_services_grid1 h4 {
		letter-spacing: 2px;
		font-size: 1.2em;
	}
	.agileinfo_services_grid1_pos {
		top: -22%;
	}
	.agileinfo_services_grid1 h4:after {
		right: 50%;
	}
	.w3_agileits_header1:after {
		left: 31% !important;
	}
	.agileits_portfolio_grid .w3_textbox {
		padding: 0 1em;
	}
	.w3_textbox h4 {
		font-size: 1em;
		letter-spacing: 3px;
	}
	.simplefilter li {
		padding: 0.6em 1.5em;
		font-size: 13px;
	}
	.w3layouts_mail_grid_left {
		float: left;
		width: 100%;
		text-align: center;
		margin-bottom: 1em;
		padding:0;
	}
	.w3layouts_mail_grid_left1 {
		float: none;
		margin-left: 3.5em;
	}
	.w3layouts_mail_grid_left2 p {
		line-height: 1.8em;
	}
	.agileits_w3layouts_mail_grid_right {
		margin-top: 2em;
	}
	.agileits_mail_grid_right1 input[type="submit"] {
		margin: .5em 0 0 6em;
	}
	.gallery-grid {
		padding: 0;
		float: left;
		width: 33%;
	}
	.textbox h4 {
		font-size: 1.5em;
		margin-top: 1.9em;
	}
	.banner-bottom, .services, .service-bottom, .contact,#blog {
		padding: 3em 0;
	}
	.navbar-nav > li > a {
		font-size: 11px;
	}
	.inner_w3l_agile_grids-gal {
		margin-top: 2em;
	}
	.w3l_header {
		font-size: 1.8em;
	}
	.banner-bottom h3 {
		font-size: 1.6em;
	}
	.service-box {
		float: left;
		width: 50%;
	}
	.service-box:nth-child(3),.service-box:nth-child(4) {
		margin-top:2em;
	}
	.w3-agile-post-img a ul {
      padding: 4em 1em 0 1em;
	}
	.w3-agile-post-img a {
		min-height: 207px;
	}
	.w3-agile-post-info p {
		font-size: 0.9em;
		margin: 1em 0;
		letter-spacing: 1px;
	}
	.w3-agile-post-info ul li:nth-child(2) {
		margin: 0 0 0 10em;
	}
	.stats {
		min-height: 430px;
		text-align: center;
		background: url(../images/banner.jpg) no-repeat 0px 0px;
	}
	.w3layouts_stats_left {
		padding: 3.5em 0 0em 0;
		float: left;
		width: 50%;
	}
	.wthree_services_grid_right {
		margin-top: 2em;
		padding: 0;
	}
	.agileits_mail_grid_right1 input[type="submit"] {
		margin: .5em 0 0 6.3em;
	}
	.team-w3ls-row {
		width: 67%;
	    margin: 2em auto 0;
	}
	.team-grids:nth-child(3),.team-grids:nth-child(4){
		margin-top:1em;
	}
}
@media (max-width: 800px){
	.menu--iris .menu__item {
		margin: 0 0.6em 0 0;
	}
	.navbar-brand {
		font-size: .7em;
		letter-spacing: 1px;
	}
	.navbar-nav > li > a {
		padding: 3px 7px;
		font-size: 12px;
	}
	.w3_agileits_search {
		width: 32%;
	}
	.w3_agileits_search input[type="search"] {
		width: 86%;
	}
	.w3_agileits_search input[type="submit"] {
		background-position: 1px 1px;
		width: 11%;
	}
	.wthree_banner_info h2 {
		font-size: 1.8em;
	}
	.banner {
		min-height: 495px;
		background-position: -130px 0px;
	}
	.agileinfo_more a {
		font-size: 13px;
	}
	.wthree_banner_info {
		margin: 8em auto 0;
	}
	.w3layouts_work_grid_right h5 {
		font-size: 1.5em;
	}
	.w3layouts_work_grid_right {
		padding: 0em 3em 0em 2em;
		margin-top: 2em;
	}
	.w3layouts_work_grid_right p {
		margin: 1em 0 0;
	}
	.w3_agileits_service_banner_info h2 {
		font-size: 2.3em;
	}

	.agileits-banner-info h3 {
		font-size: 3.3em;
	}
	.w3layouts-banner-top, .w3layouts-banner-top1, .w3layouts-banner-top2 {
		min-height: 480px;
	}
	.navbar-nav {
		margin: 0.5em 0 15px 110px;
	}
	.w3-agile-post-img a ul {
		padding: 2em 1em 0 1em;
	}
	.w3-agile-post-img a ul li {
		font-size: 0.8em;
		padding: .5em 0em;
		width: 27%;
	}
	.menu--iris .menu__item {
		margin: 0 1.6em 0 0;
	}
	.w3l_footer_nav li {
		margin-right: 0.7em;
	}
	.navbar-nav {
		margin: 0.5em 0 15px 85px;
	}
}
@media (max-width: 768px){
	.w3_agileits_search {
		width: 29%;
	}
	.w3_agileits_search input[type="submit"] {
		background-position: 0px 1px;
	}
	.w3_agile_map iframe {
		min-height: 300px;
	}
	.w3-agile-post-img a ul {
		padding: 3em 1em 0 1em;
	}
	.w3layouts_stats_left {
		padding: 3em 0 0em 0;
		float: left;
		width: 50%;
	}
}
@media (max-width: 767px){
	.navbar-brand {
		font-size: .8em;
	}
	.navbar-toggle {
		margin: 0.5em 0 0;
	}
	.navbar-default .navbar-toggle {
		border: none;
		background: #33cc99;
		border-radius: 0;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		position: absolute;
		width: 100%;
		z-index: 999;
		background:#f3f3f3;
		padding:0;
	}
	.w3_agileits_search {
		width: 45%;
		float: none;
		    margin: 0 auto 10px;
	}
	.w3_agileits_search input[type="submit"] {
		width: 7%;
		background-position: 0px 5px;
	}
	.w3_agileits_search input[type="search"] {
		width: 91%;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background: #33cc99;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.agileits_w3layouts_banner_nav {
		padding: 0.5em 1em;
	}
	.navbar-right {
		width: 100%;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
	}
	.navbar-nav {
		margin: 0;
		text-align:center;
	}
	.navbar-nav > li > a {
		padding: 5px 25px;
		font-size: 13px;
		display: inline-block;
	}
	.menu--iris .menu__item {
		margin:14px 0;
	}
	.navbar-nav .open .dropdown-menu {
		background-color: #33cc99;
		padding:10px 0;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #fff;
	}
	.w3layouts-banner-top, .w3layouts-banner-top1, .w3layouts-banner-top2 {
		min-height: 450px;
	}
	.agileits-banner-info p {
		font-size: 0.9em;
		letter-spacing: 9px;
	}
	.agileits-banner-info {
		padding: 10em 0 0em;
	}
	.banner-bottom h3 {
		font-size: 1.5em;
	}
	.w3-agile-post-img a ul {
		padding:7em 1em 0 2em;
	}
	.w3-agile-post-img a {
		min-height: 350px;
	}
	.w3-agile-post-img a ul li {
		font-size: 0.8em;
		padding: .5em 0em;
		width: 17%;
	}
	.w3-agile-post-info ul li:nth-child(2) {
		margin: 0 0 0 35em;
	}
	ul.agile_forms,.agile_phone_mail ul  {
		float: none;
		width: 100%;
		text-align: center;
	}
	.agileits_banner_bottom_grids, .w3layouts_work_grids, .wthree_testimonial_grids, .wthree_services_grids, .w3layouts_mail_grid {
		margin: 2em 0 0;
	}
}
@media (max-width: 736px){
	.w3layouts-banner-top, .w3layouts-banner-top1, .w3layouts-banner-top2 {
		min-height: 430px;
	}
	.w3l_footer_nav li {
		margin-right: 1.4em;
	}
	.textbox h4 {
		font-size: 1.3em;
		margin-top: 1.9em;
	}
	.agileits_mail_grid_right1 input[type="submit"] {
		margin: .5em 0 0 6em;
		width: 28%;
	}
	.team-w3ls-row {
		width: 40%; 
	}
	.team-grids:hover div.img-caption::before, .img-agileinfo-text {
		width: 89%;
	}
	.team-grids:hover div.img-agileinfo-text {
		top: 49%;
	}
	.team-grids:nth-child(2) {
		margin-top: 2em;
	}
}
@media (max-width: 667px){
	.w3layouts_work_grid_left {
		width: 40%;
	}
	.w3layouts_work_grid_right {
		margin-top: 0em;
		width: 53%;
		padding: 0em 3em 0em 1em;
	}
	.w3layouts_work_grid_right h5 {
		font-size: 1.4em;
	}
	.banner-bottom h3 {
		font-size: 1.3em;
	}
	.w3l_footer_nav li {
		margin-right: 0.6em;
	}
	.w3layouts_footer_grid h2:after {
		left: 68%;
		width: 31%;
	}
	.banner-bottom, .services, .service-bottom, .contact, #blog {
		padding: 2.5em 0;
	}
	.w3-agile-post-info ul li:nth-child(2) {
		margin: 0 0 0 28em;
	}
	.gallery-grid {
		padding: 0;
		float: left;
		width: 50%;
	}
	.textbox h4 {
		font-size: 1.3em;
		margin-top: 2.9em;
	}
	.team-w3ls-row {
		width: 45%;
	}
	.team-w3ls-row {
		margin-top:2em;
	}
	.team-grids:nth-child(3),.team-grids:nth-child(4){
		margin-top:0em;
	}
	.team-grids:nth-child(2) {
		margin-top: 0em;
	}
	.team-grids {
		padding: 0;
		margin-bottom: 1em;
	}
	.team-grids:nth-child(4) {
		margin-bottom: 0;
	}
	.agileits_w3layouts_service_grid h4 {
		font-size:0.9em;
		letter-spacing:4px;
	}
}

@media (max-width: 640px){
	.hovereffect h4 {
		-webkit-transform: translateY(70px);
		-ms-transform: translateY(70px);
		transform: translateY(70px);
	}
	.hovereffect:hover h4 {
		-webkit-transform: translateY(40px);
		-ms-transform: translateY(40px);
		transform: translateY(40px);
		-moz-transform: translateY(40px);
		-o-transform: translateY(40px);
	}
	.hovereffect p {
		padding: 4em 1em 0em;
	}
	.w3layouts_work_grid_left {
		width: 85%;
		float: none;
	}
	.w3layouts_work_grid_right {
		width: 90%;
		padding: 2em 2em 3em;
		float: none;
	}
	.w3layouts_work_grid_right h5 {
		font-size: 1.6em;
	}
	.w3l_header:after {
		left: 26%;
	}
	.agileits_banner_bottom_grids, .w3layouts_work_grids, .wthree_testimonial_grids, .wthree_services_grids, .w3layouts_mail_grid {
		margin: 2em 0 0;
	}
	.agileits_w3layouts_quotes h3 {
		font-size: 1.2em;
	}
	.agileits_w3layouts_quotes:after {
		font-size: 1.6em;
		right: -8%;
	}
	.agileits_w3layouts_quotes {
		margin: 1em 0 0;
	}
	.w3_agileits_header:after {
		left: 45% !important;
	}
	.agileits_testimonials_right_grid:before {
		left: -3%;
	}
	.w3_testimonials_right_grid:before {
		right: -3% !important;
	}	
	.wthree_testimonial_grid_right h3 {
		font-size: 1.6em;
	}
	.wthree_testimonial_grid_right p {
		margin: 1em 0 0;
	}
	.w3layouts_footer_grid:first-child,.w3layouts_footer_grid:nth-child(2) {
		float: none;
		width: 80%;
		text-align: center;
		margin: 0 auto;
	}
	.w3layouts_footer_grid:nth-child(2) {
		margin: 2em auto 0;
	}
	.wthree_testimonial_grid_right {
		margin-top: 2em;
	}
	.w3layouts_footer_grid h2:after {
		left: 65%;
		width: 20%;
	}
	.w3l_footer_nav {
		margin: 2em 0 1em;
	}
	.w3l_footer_nav li {
		margin-right: 1.5em;
	}
	.agileits_w3layouts_service_grid h4 {
		font-size: 1em;
		letter-spacing: 3px;
	}
	.w3layouts_service_bottom_grid h3 {
		font-size: 1.1em;
	}
	.w3_agileits_header1:after {
		left: 35% !important;
	}
	.w3layouts_mail_grid_left2 h3 {
		font-size: 1em;
		letter-spacing: 2px;
	}
	.agileits_mail_grid_lft_grid1 {
		margin: 2em 0 0;
	}
	.w3layouts_mail_grid_left1 {
		width: 50px;
		height: 50px;
	}
	.w3layouts_mail_grid_left1 span {
		font-size: 1em;
		line-height: 3.1em;
	}
	.w3_agile_map iframe {
		min-height: 250px;
	}
	.agileits_mail_grid_right1 input[type="submit"] {
		margin: .5em 0 0 5em;
	}
	.w3_agileits_service_banner_info h2 {
		font-size: 2em;
	}
	.w3layouts-banner-top, .w3layouts-banner-top1, .w3layouts-banner-top2 {
		min-height: 400px;
	}
	.agileits-banner-info h3 {
		font-size: 2.5em;
	}
	.agileits-banner-info {
		padding: 9em 0 0em;
	}
	.team-w3ls-row {
		margin-top:2em;
	}
	.team-grids:nth-child(3),.team-grids:nth-child(4){
		margin-top:0em;
	}
	.team-grids:nth-child(2) {
		margin-top: 0em;
	}
	.team-grids {
		padding: 0;
		margin-bottom: 1em;
	}
	.team-grids:nth-child(4) {
		margin-bottom: 0;
	}
}
@media (max-width: 600px){
	.wthree_banner_info h2 {
		font-size: 1.5em;
	}
	.wthree_banner_info h2 span {
		font-size: .5em;
	}
	.banner {
		min-height: 400px;
		background-position: -135px 0px;
	}
	.w3_agileits_search {
		width: 60%;
	}
	.hovereffect h4 {
		-webkit-transform: translateY(65px);
		-ms-transform: translateY(65px);
		transform: translateY(65px);
	}
	.w3_agile_team_grid {
		width: 70%;
	}
	.w3layouts_footer_grid h2 {
		margin-bottom: .5em;
	}
	.w3layouts_footer_grid:first-child, .w3layouts_footer_grid:nth-child(2) {
		width: 85%;
	}
	.agile_phone_mail ul li {
		display: inline-block;
		padding: 6px 14px;
	}
	.w3layouts_event_right h3 {
      font-size: 1.5em;
	}
	.w3layouts_footer_grid {
		padding: 0;
	}
	.wthree_services_grid_left h3 {
		font-size: 1.3em;
		letter-spacing: 0;
	}
	.agileits_w3layouts_service_grid {
		float: left;
		width: 50%;
		margin-bottom: 1em;
	}
	.agileits_w3layouts_service_grid:nth-child(4), .agileits_w3layouts_service_grid:nth-child(5), .agileits_w3layouts_service_grid:nth-child(6) {
		margin-top: 0em;
	}
	.f-bg-w3l {
		padding: 3em 0 3em 0;
	}
	.agile_inner_w3ls-grids.two {
		margin-top: 2em;
	}
	.agileits_mail_grid_right1 span i {
		width: 25%;
		padding: 10px 10px;
	}
	.agileits_mail_grid_right1 input[type="submit"] {
		margin: .5em 0 0 0em;
	}
	.agileits_mail_grid_right1 input[type="text"], .agileits_mail_grid_right1 input[type="email"], .agileits_mail_grid_right1 textarea {
		outline: none;
		width: 100%;
		margin-top: .5em;
	}
	.agileits_mail_grid_right1 textarea {
		min-height: 120px;
	}
	.team-w3ls-row {
		width: 50%;
	}
	
}
@media (max-width: 568px){
	.hovereffect h4 {
		-webkit-transform: translateY(65px);
		-ms-transform: translateY(65px);
		transform: translateY(60px);
	}
	.hovereffect p {
		padding: 3.5em 1em 0em;
	}
	.hovereffect:hover h4 {
		-webkit-transform: translateY(30px);
		-ms-transform: translateY(30px);
		transform: translateY(30px);
		-moz-transform: translateY(30px);
		-o-transform: translateY(30px);
	}
	.w3_agile_team_grid {
		width: 73%;
	}
	.w3_agileits_header:after {
		left: 48% !important;
	}
	.w3layouts_footer_grid:first-child, .w3layouts_footer_grid:nth-child(2) {
		width: 90%;
	}
	.agileits-banner-info p {
		font-size: 0.9em;
		letter-spacing: 5px;
	}
	.w3layouts-banner-top, .w3layouts-banner-top1, .w3layouts-banner-top2 {
		min-height: 340px;
	}
	.agileits-banner-info {
		padding: 7em 0 0em;
	}
	.agileits_banner_bottom_grid {
		float: left;
		width: 100%;
	}
	.hovereffect p {
		padding: 8em 1em 0em;
	}
	.service-box {
		float: left;
		width: 100%;
		margin-bottom: 2em;
	}
	.service-box:nth-child(3), .service-box:nth-child(4) {
		margin-top: 0em;
	}
	.w3-agile-post-img a {
		min-height: 300px;
	}
	.w3-agile-post-info ul li:nth-child(2) {
		margin: 0 0 0 16em;
	}
	.w3-agile-post-img a ul li {
		font-size: 0.8em;
		padding: .5em 0em;
		width: 22%;
	}
	.w3layouts_event_right {
		width: 100%;
		padding: 3em 2em 3em 2em;
	}
	.w3l_header {
		font-size: 1.6em;
		letter-spacing: 2px;
	}
	.banner1 {
		min-height: 135px;
	}
	.agileits_mail_grid_lft_grid1 {
		margin: 2em 0 0;
		padding: 0;
	}
	.team-w3ls-row {
		width: 54%;
	}
}
@media (max-width: 480px){
	.agileinfo_more a {
		border: 1px solid;
	}
	.wthree_banner_info {
		padding: 0 1em;
	}
	.wthree_banner_info h2 {
		font-size: 1.3em;
	}
	.banner-bottom h3 {
		font-size: 1.4em;
	}
	
	.hovereffect h4 {
		-webkit-transform: translateY(82px);
		-ms-transform: translateY(82px);
		transform: translateY(82px);
	}
	.hovereffect:hover h4 {
		-webkit-transform: translateY(55px);
		-ms-transform: translateY(55px);
		transform: translateY(55px);
		-moz-transform: translateY(55px);
		-o-transform: translateY(55px);
	}
	.hovereffect p {
		padding: 5em 1em 0em;
	}
	.agileits_banner_bottom_grid:nth-child(2) {
		margin-bottom: 0;
	}
	.w3l_header:after {
		width: 20%;
		left: 32%;
	}
	.w3layouts_work_grid_right {
		padding: 2em 1em;
	}
	.w3layouts_footer_grid h2 {
		font-size: 1.6em;
	}
	.w3layouts_footer_grid:first-child, .w3layouts_footer_grid:nth-child(2) {
		width: 100%;
	}
	.w3l_footer_nav li {
		margin-right: 1.1em;
	}
	.w3_agileits_service_banner_info h2 {
		font-size: 1.8em;
	}
	.wthree_services_grid_left h3 {
		font-size: 1.2em;
		letter-spacing: 0;
	}
	.wthree_services_grid_left {
		padding: 0;
	}
	.wthree_services_grid_left p {
		margin: 1em 0 2em;
	}
	.agileits_w3layouts_service_grid h4 {
		font-size: .9em;
		letter-spacing: 1px;
	}
	.w3layouts_service_bottom_grid {
		width: 50%;
	}
	.w3layouts_service_bottom_grid:nth-child(2){
		margin-bottom:2em;
	}
	.agileinfo_services_grid1 h4:after {
		right: 35%;
	}
	.agileinfo_services_grid1_pos {
		top: -15%;
	}
	.agileinfo_services_grid {
		padding-top: 2.5em;
	}	
	.w3_agileits_header1:after {
		left: 45% !important;
	}
	.w3layouts_mail_grid_left {
		float: none;
		width: 100%;
		text-align: left;
	}
	.w3layouts_mail_grid_left1 {
		margin-left: 0;
	}
	.w3layouts_mail_grid_left:nth-child(2){
		margin:1em 0;
	}
	.w3layouts_mail_grid_left2 h3 {
		font-size: .9em;
		letter-spacing: 1px;
		margin: 0.5em 0 0.3em;
	}
	.w3layouts_mail_grid_left2 {
		width: 80%;
	}
	.agileits_mail_grid_right1 {
		padding: 1em;
	}
	.agileits_mail_grid_right1 span i {
		font-size: 12px;
	}
	.agileits_mail_grid_right1 input[type="submit"] {
		font-size: 14px;
		width: 40%;
	}
	.navbar-brand i {
		font-size: 1.8em;
	}
	.hovereffect p {
		padding: 8em 1em 0em;
	}
	.w3-agile-post-info ul li:nth-child(2) {
		margin: 0 0 0 15em;
	}
	.textbox h4 {
		font-size: 1.3em;
		margin-top: 1.9em;
	}
	.team-w3ls-row {
		width: 62%;
	}
}
@media (max-width: 414px){
	.w3_agileits_search {
		width: 80%;
	}
	.agile_phone_mail ul li {
		padding: 8px 6px;
		font-size: 13px;
	}
	.navbar-brand {
		font-size: .7em;
	}
	.banner-bottom h3 {
		font-size: 1.3em;
	}
	.agileits_banner_bottom_grid {
		width: 100%;
		padding: .5em 1em;
	}
	.w3l_header {
		font-size: 1.3em;
	}
	.w3layouts_work_grid_left_pos img {
		border: 2px solid #eb5424;
	}
	.agileits_w3layouts_quotes:after {
		right: -10%;
	}
	.w3l_footer_nav li {
		margin-right: 0.4em;
		font-size: 13px;
	}
	.w3_agileits_service_banner_info h2 {
		font-size: 1.6em;
		letter-spacing: 3px;
	}
	.agileits_w3layouts_service_grid {
		float: none;
		width: 60%;
		    margin: 0 auto 1.5em;
	}
	.agileits_w3layouts_service_grid:nth-child(2){
		margin:2em auto;
	}
	.agileits_w3layouts_service_grid p {
		line-height: 2em;
	}
	.agileits_w3layouts_service_grid h4 {
		letter-spacing: 5px;
	}
	.w3_agileits_header:after {
		left: 62% !important;
	}
	.agileinfo_services_grid1 h4:after {
		right: 10%;
		width: 45%;
	}
	.agileinfo_services_grid1 h4 {
		letter-spacing: 1px;
	}
	.w3_textbox h4 {
		margin: 3.3em 0 .5em;
	}
	.w3_agileits_header1:after {
		left: 48% !important;
	}
	.agileits_mail_grid_right1 input[type="text"], .agileits_mail_grid_right1 input[type="email"], .agileits_mail_grid_right1 textarea {
		width: 100%;
		margin-top: .5em;
	}
	.agileits_mail_grid_right1 input[type="submit"] {
		margin: .5em 0 0 0em;
		width: 100%;
	}
	.agileits_w3layouts_mail_grid_right,.agileinfo_mail_grid_left {
		padding: 0;
	}
	.agileits-banner-info h3 {
		font-size: 2em;
	}
	.w3layouts-banner-top, .w3layouts-banner-top1, .w3layouts-banner-top2 {
		min-height: 300px;
	}
	.agileits-banner-info {
		padding:5.5em 0 0em;
	}
	.service-box h5 {
      font-size: 0.86em;
	}
	.services{
		padding:2em 0 1em 0;
	}
	.w3-agile-post-img a ul li {
    font-size: 0.8em;
    padding: .5em 0em;
    width: 27%;
	}
	.w3-agile-post-img a ul {
		padding: 6em 1em 0 2em;
	}
	.w3-agile-post-info ul li:nth-child(2) {
		margin: 0 0 0 11em;
	}
	.textbox h4 {
		font-size: 1em;
		margin-top: 1.9em;
	}
	.banner1 {
		min-height: 116px;
	}
	.w3_agileits_service_banner_info h2 {
		font-size: 1.6em;
		letter-spacing: 3px;
		padding-top: 1.8em;
	}
	.agileits-banner-info p {
		font-size: 0.85em;
		letter-spacing: 5px;
	}
	.agileits_banner_bottom_grids, .w3layouts_work_grids, .wthree_testimonial_grids, .wthree_services_grids, .w3layouts_mail_grid {
		margin: 1em 0 0;
	}
	.hovereffect p {
		padding: 6em 1em 0em;
	}
	.banner-bottom, .services, .service-bottom, .contact, #blog {
		padding: 2em 0;
	}
	.w3layouts_event_right h3 {
		font-size: 1.4em;
		letter-spacing: 2px;
	}
	.w3layouts_footer_grid input[type="email"] {
		padding: 12px 15px;
		font-size: 14px;
		width: 77%;
	}
	.w3layouts_footer_grid input[type="submit"] {
		outline: none;
		padding: 11px 0px;
		width: 22%;
		background: #33cc99 url(../images/arrow.png) no-repeat 30px 10px;
		border: none;
		float: right;
	}
	.w3layouts_footer_grid h2 {
		font-size: 1.4em;
	}
.team-w3ls-row {
    width: 85%;
}
}
@media (max-width: 384px){
	.wthree_banner_info h2 {
		font-size: 1.1em;
	}
	.agileits_banner_bottom_grid {
		width: 100%;
	}
	.w3l_header:after {
		left: 35%;
	}
	.w3layouts_footer_grid h2:after {
		left: 68%;
	}
	.w3l_footer_nav li {
		margin-right: 0.8em;
	}
	.wthree_services_grid_left h3 {
		font-size: 0.9em;
	}
	.agileits_w3layouts_service_grid {
		width: 75%;
	}
	.w3_agileits_header:after {
		left: 68% !important;
	}
	.agileinfo_services_grid {
		padding: 2.5em 0 0;
	}
	.w3_textbox h4 {
		margin: 2.6em 0 .5em;
	}
	.w3_agileits_header1:after {
		left: 52% !important;
	}
	.w3_agileits_service_banner_info h2 {
		font-size: 1.4em;
	}
	.w3_agile_map iframe {
		min-height: 200px;
	}
	.banner1 {
		min-height: 100px;
	}
	.agileits-banner-info p {
		font-size: 0.85em;
		letter-spacing: 2px;
	}
    .w3layouts-banner-top, .w3layouts-banner-top1, .w3layouts-banner-top2 {
		min-height: 270px;
	}
	.agileits-banner-info {
		padding: 5em 0 0em;
	}
	.agileits-banner-info h3 {
		font-size: 1.8em;
	}
	.banner-bottom h3 {
		font-size: 1.2em;
	}
	.w3-agile-post-info ul li:nth-child(2) {
		margin: 0 0 0 9em;
	}
	.w3-agile-post-img a {
		min-height: 200px;
	}
	.w3-agile-post-img a ul li {
		font-size: 0.8em;
		padding: .5em 0em;
		width: 33%;
	}
	.w3-agile-post-img a ul {
		padding: 2.6em 1em 0 1em;
	}
	.w3layouts_event_right_para p {
		font-size: 0.9em;
		line-height: 2em;
	}
	.w3layouts_event_right_para {
		position: relative;
		z-index: 1;
		margin: 1em 0;
	}
	.w3_agile_event_right_grid_right p {
		font-size: 12px;
		letter-spacing:1px;
	}
	.w3layouts_event_right {
		width: 100%;
		padding: 2em 1em 2em 1em;
	}
	.wthree_services_grid_left h4 {
		font-size: 0.85em;
		letter-spacing: 5px;
	}
	.agileits_w3layouts_service_grid:nth-child(2) {
		margin: 1em auto;
	}
	.w3-agile-post-info p {
		font-size: 0.85em;
		margin: 1em 0 0 0;
		letter-spacing: 1px;
	}
	.agileits_mail_grid_right1 span i {
		width: 30%;
		padding: 10px 10px;
	}
	.agileits_mail_grid_right.agileits_w3layouts_mail_grid_right {
		margin-bottom: 2em;
	}
	.agileits_mail_grid_lft_grid1.w3_agileits_mail_grid_lft_grid1 h4 {
		font-size: 1.4em;
		margin-bottom: 1em;
	}
	.inner_w3l_agile_grids-gal {
		margin-top: 1.2em;
	}
}
@media (max-width: 375px){
	.w3_agileits_search {
		width: 90%;
	}
	
	.w3l_header:after {
		left: 37%;
	}
	.w3layouts-banner-top, .w3layouts-banner-top1, .w3layouts-banner-top2 {
		min-height: 250px;
	}
	.w3-agile-post-info ul li:nth-child(2) {
		margin: 0 0 0 8em;
	}
	.textbox p {
		font-size: 16px !important;
		margin: 6px 0 0 0!important;
		padding: 1px 0;
	}
	.agileits_mail_grid_right1 span i {
		width: 35%;
		padding: 10px 10px;
	}
	.agileits_mail_grid_left h4 {
		font-size: 1em;
		margin-bottom: 1em;
		line-height: 1.6em;
	}
	.agileits_mail_grid_lft_grid1.w3_agileits_mail_grid_lft_grid1 h4 {
		font-size: 1.2em;
		margin-bottom: 1em;
	}
	.f-bg-w3l {
		padding: 2em 0 2em 0;
	}
	.footer {
		min-height: 333px;
	}
	.team-grids { 
		padding: 0;
	}
	.team-grids:hover div.img-caption::before, .img-agileinfo-text {
		width: 100%;
	}
	.team-w3ls-row {
		margin-top:1.5em;
	}
}
@media (max-width: 320px){
	.agile_phone_mail ul li {
		padding: 2px;
		border: none;
		display: block;
	}
	.agile_phone_mail {
		text-align: center;
		padding: .5em 0;
	}
	.navbar-brand {
		font-size: .65em;
	}
	.wthree_banner_info h2 {
		font-size: 0.94em;
	}
	.wthree_banner_info h2 span {
		font-size: .7em;
		width: 30%;
	}
	p, ul li, ol li,.w3layouts_footer_grid input[type="email"],.w3_agileits_search input[type="search"],.agileits_mail_grid_right1 input[type="text"], .agileits_mail_grid_right1 input[type="email"], .agileits_mail_grid_right1 textarea {
		font-size: 13px;
	}
	.w3l_footer_nav li {
		font-size: 12px;
	}
	.w3l_footer_nav {
		margin: 1em 0;
	}
	.modal-body p i {
		margin: 0.5em 0;
	}
	.banner-bottom h3 {
		font-size: 1.01em;
	}
	.hovereffect h4 {
		font-size: 1em;
	}
	.hovereffect h4 {
		-webkit-transform: translateY(65px);
		-ms-transform: translateY(65px);
		transform: translateY(65px);
	}
	.hovereffect:hover h4 {
		-webkit-transform: translateY(35px);
		-ms-transform: translateY(35px);
		transform: translateY(35px);
		-moz-transform: translateY(35px);
		-o-transform: translateY(35px);
	}
	.hovereffect p {
		padding: 4em 1em 0em;
	}
	.w3l_header:after {
		left: 45%;
	}
	.w3layouts_work_grid_right h5 {
		font-size: 1.39em;
	}
	.agile_team_text p {
		font-size: 11px;
	}
	.agile_team_text {
		padding: 1em;
	}
	.agileits_w3layouts_quotes h3 {
		font-size: 1.1em;
	}
	.agileits_w3layouts_quotes:after {
		right: -13%;
		font-size: 1.4em;
	}
	.w3_agileits_header:after {
		left: 82% !important;
	}
	.w3layouts_footer_grid h2 {
		font-size: 1.2em;
	}
	.w3_agileits_service_banner_info h2 {
		font-size: 1.2em;
	}
	.agileits_w3layouts_service_grid {
		width: 85%;
	}
	.w3layouts_service_bottom_grid p {
		font-size: 1.5em;
	}
	.w3layouts_service_bottom_grid h3 {
		font-size: .9em;
	}
	.agileinfo_services_grid1 {
		padding: 2em 1em 1.5em;
	}
	.agileinfo_services_grid1 h4 {
		font-size: 1.1em;
	}
	.w3_agileits_header1:after {
		left: 63% !important;
	}
	.agileits_mail_grid_right1 {
		padding: .5em 1em;
	}
	.agileits_w3layouts_mail_grid_right {
		margin-top: 1em;
	}
	.w3_agileits_search {
		padding: 5px 10px 10px;
	}
	.w3layouts-banner-top, .w3layouts-banner-top1, .w3layouts-banner-top2 {
		min-height: 200px;
	}
	.agileits-banner-info {
		padding: 3em 0 0em;
	}
	.w3-agile-post-grids {
		padding: 0;
	}
	.w3-agile-post-info ul li:nth-child(2) {
		margin: 0 0 0 6em;
	}
	.w3layouts_stats_left {
		padding: 2em 0 0em 0;
		float: left;
		width: 50%;
	}
	.stats {
      min-height: 368px;
	}
	.w3layouts_footer_grid input[type="submit"] {
		outline: none;
		padding: 10px 0px;
		width: 22%;
		background: #33cc99 url(../images/arrow.png) no-repeat 21px 10px;
		border: none;
		float: right;
	}
	.banner1 {
		min-height: 84px;
	}
	.gallery-grid {
		padding: 0;
		float: left;
		width: 100%;
	}
	.textbox h4 {
		font-size: 1.25em;
		margin-top: 2.3em;
	}
	.textbox p {
		font-size: 21px !important;
		margin: 9px 0 0 0!important;
		padding: 3px 0;
	}
	
}